@mixin flexCenter ($direction, $background){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: $direction;
    background-color: $background;
}

header{
    background-color: $headerBackground;
    height: 10vh;
    @include flexCenter(column, yellow);

    button{
        background-color: $defaultButtonColor;
        &:hover{
            background-color: red;
        }
        &::after{
            content: " youuuuu!";
        }
    }

    h1{
        color: $defaultheaderColor;
    }
}