$defaultButtonColor: #fbccee;

header{
    background-color: lightblue;
    display: flex;
    justify-content: center;

    button{
        background-color: $defaultButtonColor;
        &:hover{
            background-color: red;
        }
        &::after{
            content: " youuuuu!";
        }
    }
}

.contact button{
    background-color: $defaultButtonColor;
}

